# GLOBALS

environment = "dev"


# VPC

# AWS region where the resources will be deployed
region = "us-east-2"


# NETWORK

# Control whether to create new network resources
create_security_groups = false
create_subnets         = false
create_vpc             = false

# The VPC security group IDs for resources, must be set if not creating resources
security_group_ids = ["sg-xxxxxxxx"]

# The subnet IDs for resources, must be set if not creating resources
subnet_ids = ["subnet-xxxxxxxx", "subnet-yyyyyyyy"]


# DATABASE

# The name of the MySQL database
db_name = "eyelevel"

# The username for the MySQL database
db_username = "admin"

# The password for the MySQL database
db_password = "supersecretpassword"

# The identifier for the MySQL database instance
db_instance_identifier = "eyelevel-metadata"

# The instance type for the MySQL database
db_instance_type = "db.t3.micro"

# The allocated storage for the MySQL database (in GB)
db_allocated_storage = 20