# GLOBALS

environment = "dev"


# VPC

# AWS region where the resources will be deployed
region = "us-east-2"
vpc_id = ""


# KUBERNETES

db_instance_type = "t3.micro"
cluster_name = "eyelevel"
cluster_version = "1.30"


# NETWORK

# Control whether to create new network resources
create_subnets         = false
create_vpc             = false

# The subnet IDs for resources, must be set if not creating resources
subnet_ids = ["subnet-xxxxxxxx", "subnet-yyyyyyyy"]


# DATABASE

# The name of the MySQL database
db_name = "eyelevel"

# The username for the MySQL database
db_username = "admin"

# The password for the MySQL database, base64 encoded
# echo -n 'supersecretpassword' | base64
db_password = "supersecretpassword"