# GLOBALS

kube_config_path = "~/.kube/config"


# DATABASE

db_namespace = "eyelevel"
db_node = "crc"
db_service = "mysql"
db_version = "8.0"

db_image_pull = "Always"
db_image_tag = "latest"
db_image_url = "public.ecr.aws/c9r4x6y5/eyelevel/mysql"
db_ip_type = "ClusterIP"
db_mount_path = "/var/lib/mysql"
db_port = 3306

db_name = "eyelevel"
db_password = "password"
db_root_password = "rootpassword"
db_username = "eyelevel"

db_pv_access = "ReadWriteMany"
db_pv_class = "local-storage"
db_pv_path = "/Users/benjaminfletcher/mnt/mysql"
db_pv_size = "1Gi"
db_replicas = 1