# GLOBALS

create_all = true
kube_config_path = "~/.kube/config"
namespace = "eyelevel"
pv_class = "local-storage"


# CACHE

cache_node = "crc"
cache_service = "redis"
cache_version = "6.1"

cache_image_pull = "Always"
cache_image_tag = "latest"
cache_image_url = "public.ecr.aws/c9r4x6y5/eyelevel/redis"
cache_ip_type = "ClusterIP"
cache_mount_path = "/mnt/redis"
cache_port = 6379

cache_pv_access = "ReadWriteMany"
cache_pv_path = "/Users/benjaminfletcher/mnt/redis"
cache_pv_size = "1Gi"
cache_replicas = 1


# DATABASE

db_node = "crc"
db_service = "mysql"
db_version = "8.0"

db_image_pull = "Always"
db_image_tag = "latest"
db_image_url = "public.ecr.aws/c9r4x6y5/eyelevel/mysql"
db_ip_type = "ClusterIP"
db_mount_path = "/var/lib/mysql"
db_port = 3306

db_name = "eyelevel"
db_password = "password"
db_root_password = "rootpassword"
db_username = "eyelevel"

db_pv_access = "ReadWriteMany"
db_pv_path = "/Users/benjaminfletcher/mnt/mysql"
db_pv_size = "1Gi"
db_replicas = 1


# STREAM

stream_chart = "oci://quay.io/strimzi-helm/strimzi-kafka-operator"
stream_chart_version = "0.35.0"
stream_service = "kafka"
stream_version = "3.4.0"

stream_port = 9092
stream_cpu_limits = "200m"
stream_cpu_requests = "100m"
stream_memory_limits = "512Mi"
stream_memory_requests = "256Mi"
stream_replicas_operator = 3
stream_replicas_service = 3
stream_replicas_zookeeper = 3
stream_storage_service = "2Gi"
stream_storage_zookeeper = "1Gi"