environment              = {
  cluster_role_arns      = []
  region                 = ""
  security_groups        = []
  ssh_key_name           = ""
  stage                  = "prod"
  subnets                = []
  vpc_id                 = ""
}

cluster               = {
  environment         = "aws"
  has_nvidia          = false
  internet_access     = true
  kube_config_path    = "~/.kube/config"
  name                = "eyelevel"
  role                = "admin"
  type                = "eks"
}