subnets = null

environment         = {
  cluster_role_arns = []
  region            = "us-east-1"
  ssh_key_name      = "my-key.pem"
  stage             = "dev"
  subnets           = []
  vpc_id            = ""
}

cluster             = {
  environment       = "aws"
  internet_access   = true
  kube_config_path  = "~/.kube/config"
  name              = "eyelevel"
  role              = "admin"
  type              = "eks"
}