subnets = null

environment         = {
  cluster_role_arns = []
  region            = "us-east-1"
  security_groups   = []
  ssh_key_name      = ""
  stage             = "dev"
  subnets           = []
  vpc_id            = ""
}