# GLOBALS

# generate using uuid.sh
admin_api_key = "c3dcbb8d-23f5-40fe-8f61-359144a40391"
# generate using uuid.sh
admin_username = "758a83e3-e1bc-40b5-aa37-a97ec0210eee"

admin_email = "support@yourcompany.com"
admin_password = "password"

cluster_type = "openshift"
kube_config_path = "~/.kube/config"

create_all = true


# CACHE

cache_node = "crc"

cache_cpu_limits = "2"
cache_cpu_requests = "2"
cache_memory_limits = "16Gi"
cache_memory_requests = "16Gi"
cache_replicas = 3

# LOCAL CACHE

cache_pv_path = "/Users/benjaminfletcher/mnt/redis"
cache_pv_size = "1Gi"


# DASHBOARD

dashboard_node = "crc"


# DATABASE

db_node = "crc"

db_backup_enable = true
db_ha_proxy_replicas = 3
db_logcollector_enable = true
db_pmm_enable = false
db_pv_size = "20Gi"
db_replicas = 3

db_name = "eyelevel"
db_password = "password"
db_root_password = "rootpassword"
db_username = "eyelevel"


# FILE

file_node = "crc"

file_cpu_limits = "4"
file_cpu_requests = "2"
file_memory_limits = "8Gi"
file_memory_requests = "4Gi"
file_pool_server = 4
file_pool_server_volumes = 4
file_pool_size = "1Ti"
file_pv_path = "/Users/benjaminfletcher/mnt/minio"
file_replicas_operator = 2
file_replicas_tenant = 2


# GROUNDX

groundx_node = "crc"


# LAYOUT

layout_nodes = {
  api       = "crc"
  inference = "crc"
  ocr       = "crc"
  process   = "crc"
}


# LAYOUT WEBHOOK

layout_webhook_node = "crc"


# PRE-PROCESS

pre_process_node = "crc"


# PROCESS

process_node = "crc"


# QUEUE

queue_node = "crc"


# RANKER

ranker_api_node = "crc"
ranker_inference_node = "crc"


# SEARCH

search_node = "crc"

search_cpu_requests = "1"
search_memory_requests = "512Mi"
search_pv_size = "1Gi"
search_replicas = 3
search_root_password = "R0otb_*t!kazs"

search_index = "prod-1"
search_password = "password"
search_user = "eyelevel"


# STREAM

stream_node = "crc"

stream_cpu_limits = "200m"
stream_cpu_requests = "100m"
stream_memory_limits = "512Mi"
stream_memory_requests = "256Mi"
stream_replicas_operator = 3
stream_replicas_service = 3
stream_replicas_zookeeper = 3
stream_storage_service = "2Gi"
stream_storage_zookeeper = "1Gi"


# SUMMARY

summary_api_node = "crc"
summary_inference_node = "crc"


# UPLOAD

upload_node = "crc"