# OPERATOR

admin = {
  # generate using uuid.sh
  api_key  = "c3dcbb8d-23f5-40fe-8f61-359144a40391"

  # generate using uuid.sh
  username = "758a83e3-e1bc-40b5-aa37-a97ec0210eee"

  email    = "support@yourcompany.com"
  password = "password"
}

app = {
  languages = ["en"]
}


# CLUSTER

cluster = {
  environment      = "aws"
  internet_access  = true
  kube_config_path = "~/.kube/config"
  name             = "eyelevel"
  role             = "admin"
  type             = "eks"
}


# DATABASE

db = {
  db_name          = "eyelevel"
  db_password      = "password"
  db_root_password = "password"
  db_username      = "eyelevel"
}


# FILE

file = {
  password      = "minio123"
  upload_bucket = "eyelevel"
  username      = "minio"
}


# GROUNDX

groundx = {
  load_balancer = {
    port        = 80
  }
}


# LAYOUT

layout = {
  ocr = {
    # required for google, otherwise ignored
    credentials = "gcv_credentials.json"

    # required for google, otherwise ignored
    project     = ""

    # valid values: google, tesseract
    type        = "google"
  }
}


# SEARCH

search = {
  index         = "prod-1"
  password      = "R0otb_*t!kazs"
  plugins       = {
    enabled     = false
    installList = []
  }
  root_password = "R0otb_*t!kazs"
  user          = "eyelevel"
}